@media screen and (min-width: 768px) {
    .contact-right {
        text-align: center;
        .redes {
            width: 400px;
        }
    }
}

@media screen and (min-width: 1024px) {
    section.contact {
        flex-direction: row;
    }
    .mensaje {
        width: 75%;
        padding: 20px;
    }
    form {
        flex-direction: row;
        .form-left, .form-right {
            width: 50%;
            padding: 20px;
        }
        input[type=text] {
            margin-bottom: 55px;
        }
    }
    .contact-right {
        text-align: left;
        .redes {
            width: 200px;
        }
    }
}
