@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Russo+One&display=swap');

$font-title: 'Russo One', sans-serif;
$font-content: 'Open Sans', sans-serif;

$primary: #f95959;
$secundary: #455d7a;
$dark: #233142;
$light: #facf5a;
$black: #0d1011;
$white: #f1f6f1;